while True:
	grid=[' ',' ',' ',' ',' ',' ',' ',' ',' ']
	def hl():
		print('-----')
	def draw(a,b,c,d,e,f,g,h,i):
		print(str(a)+'|'+str(b)+'|'+str(c))
		hl()
		print(str(d)+'|'+str(e)+'|'+str(f))
		hl()
		print(str(g)+'|'+str(h)+'|'+str(i))
	draw(1,2,3,4,5,6,7,8,9)
	print('\n')
	def dg():	
		draw(grid[6], grid[7], grid[8], grid[3], grid[4], grid[5], grid[0], grid[1], grid[2])
	a=1
	turn=1
	try:
		for n in range(10):
			inp=int(input('player 1'))-1
			if grid[inp] == ' ':
				grid[inp]='X'
				turn=2
			else:
				print('please ener a valid number')
				continue
			
			dg()
			#a+=1
	
	except:
		print('restarting')
		continue
